body {
  margin: 0;
  padding: 0;
  position: relative;
}


.vertical-column {
  position: absolute;
  top: 11%;
  left: 30%;
  bottom: 0;
  width: 38%;
  background-color: rgba(0, 0, 0, 0.0);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.vertical-column h1 {
  color: white;
  font-family: Georgia, serif;
  font-size: 700%;
  height: 110%;
  font-weight: 200;
  text-align: center;
  margin: 0;
  padding: 10px;
}

.navbar-home {
  position: absolute;
  left: 5%;
  font-family: Comic Sans MS, Comic Sans, cursive;
}

.navbar-nav {
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.nav-item {
  flex: 1;
  text-align: center;
}

.navbar {
  background-color: rgba(36, 37, 42, 1) !important;
}

.nav-link {
  font-family: "Arial", sans-serif;
}

.nav-item.contact {
  position: absolute;
  right: 10%;
  font-family: "Arial", sans-serif;
}

.contact-button {
  background-color: rgba(1,139,167,255);
  padding: 10px 20px;
  border-radius: 50px;
  width: 180%;
}

/* CSS for contact.html */
#contact {
  padding: 85px 0;
  position: relative;
}

#contact .container {
  max-width: 80vw; /* Adjust the max-width as desired */
}

#contact h2 {
  font-size: 57px;
  margin-bottom: 5vh;
  margin-top: -10vh; /* Adjust the margin-top as desired */
}

#contact p {
  font-size: 18px;
  margin-bottom: 33vh; /* Adjust the margin-bottom as desired */
}

#contact ul {
  margin-bottom: 5vh;
  margin-top: -30vh; /* Adjust the margin-top as desired */
}

#contact ul li {
  margin-bottom: 2vh; /* Adjust the margin-bottom as desired */
}

#contact .row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

#contact .col-lg-6.contact-info {
  text-align: left; /* Align the text to the left */
}

#contact .col-lg-6.contact-image {
  margin-left: auto; /* Adjust the margin-left to move the image closer to the right screen border */
  margin-top: -7vh;
  margin-right:-5vw;
}

#contact .col-lg-6.contact-image img {
  max-width: 90%;
  height: auto;
}



/* CSS for about.html */

.about-body {
  background-image: url("about.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.about-container {
  background-color: rgba(12, 30, 35, 0.9);
  padding: 80px;
  margin-top: 7vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 150vh; /* Set a maximum width for the container */
  margin-left: auto; /* Center the container horizontally */
  margin-right: auto;
  color: white; /* Set the font color to white */
}

.about-heading {
  width: 100%;
  text-align: center;
  font-size: 48px; /* Adjust the font size as desired */
  color: white; /* Set the font color to white */
}

.about-text-col {
  flex: 1;
  width: 40%; /* Adjust the width as desired */
  padding-right: 80px; /* Add some spacing between the columns */
  color: white; /* Set the font color to white */
}

.about-img-col {
  flex: 1;
  width: 60%; /* Adjust the width as desired */
}

.about-text-col h2 {
  margin-top: 0;
  text-align: center; /* Center the heading */
}
